In [57]:
import pandas as pd

In [58]:
from bs4 import BeautifulSoup as soup

In [59]:
from urllib.request import urlopen as uReq

In [81]:
search_term= "data+science"
my_url= "https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2380057.m570.l1313&_nkw={}&_sacat=0".format(search_term)
my_url

'https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2380057.m570.l1313&_nkw=data+science&_sacat=0'

In [82]:
client= uReq(my_url)

In [83]:
client

In [84]:
page_html = client.read()

In [85]:
client.close()

In [86]:
page_soup = soup(page_html)

In [87]:
span_tags= page_soup.findAll('span', {"class": "s-item__price"})

In [88]:
prices = []
for item in span_tags:
    prices.append(item.text[1:])
    
prices

['20.00',
 '18.30',
 '9.14',
 '5.89',
 '15.54',
 '4.00',
 '27.99',
 '50.00',
 '0.99',
 '40.00',
 '6.20',
 '7.38',
 '14.99',
 '22.99',
 '8.77',
 '7.68',
 '14.34',
 '11.78',
 '7.25',
 '18.90',
 '24.97',
 '6.78',
 '5.49',
 '6.21',
 '23.07',
 '5.65',
 '30.00',
 '5.38',
 '30.00',
 '32.99',
 '4.99',
 '11.68',
 '6.71',
 '50.55',
 '23.84',
 '13.99',
 '6.50',
 '27.99',
 '100.00',
 '5.49',
 '36.76',
 '22.00',
 '15.14',
 '6.68',
 '39.99',
 '22.99',
 '5.60',
 '32.99',
 '75.99',
 '4.60',
 '25.00',
 '54.99',
 '54.00',
 '18.00',
 '9.79',
 '52.99',
 '17.44',
 '11.78',
 '54.00',
 '5.82',
 '5.61',
 '23.82',
 '4.45',
 '12.28',
 '37.30',
 '26.40',
 '38.00',
 '10.00',
 '11.09',
 '14.45',
 '13.20',
 '19.63',
 '40.19',
 '68.56']

In [89]:
numeric_array = pd.to_numeric(prices, errors= 'coerce')
numeric_array

array([ 20.  ,  18.3 ,   9.14,   5.89,  15.54,   4.  ,  27.99,  50.  ,
         0.99,  40.  ,   6.2 ,   7.38,  14.99,  22.99,   8.77,   7.68,
        14.34,  11.78,   7.25,  18.9 ,  24.97,   6.78,   5.49,   6.21,
        23.07,   5.65,  30.  ,   5.38,  30.  ,  32.99,   4.99,  11.68,
         6.71,  50.55,  23.84,  13.99,   6.5 ,  27.99, 100.  ,   5.49,
        36.76,  22.  ,  15.14,   6.68,  39.99,  22.99,   5.6 ,  32.99,
        75.99,   4.6 ,  25.  ,  54.99,  54.  ,  18.  ,   9.79,  52.99,
        17.44,  11.78,  54.  ,   5.82,   5.61,  23.82,   4.45,  12.28,
        37.3 ,  26.4 ,  38.  ,  10.  ,  11.09,  14.45,  13.2 ,  19.63,
        40.19,  68.56])

In [90]:
df = pd.DataFrame(numeric_array)
df = df.dropna()
df

        0
0   20.00
1   18.30
2    9.14
3    5.89
4   15.54
..    ...
69  14.45
70  13.20
71  19.63
72  40.19
73  68.56

[74 rows x 1 columns]